[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
python-dotenv = "*"
django-rest-passwordreset = "*"
deprecated = "*"
pillow = "*"
cloudinary = "*"
django-cloudinary-storage = "*"

[dev-packages]

[requires]
python_version = "3.11"
