/* remove all link styles */
a {
    text-decoration: none;
    color: inherit;
}

.camp-preview-img {
    height: 100% !important;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
}

.camp-preview-img:hover {
    transform: scale(1.05);
}
